<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    tools:targetApi="tiramisu">
  <activity
    android:name="com.addhen.kanalytics.viewer.android.MainActivity"
    android:label="KAnalytics Interceptor"
    android:launchMode="singleTask"
    android:taskAffinity="com.addhen.kanalytics.viewer.android.task"
    android:theme="@style/Theme.ViewerApp" />
  </application>
</manifest>
