<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    tools:targetApi="tiramisu">
    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">
      <meta-data
        android:name="com.addhen.kanalytics.viewer.android.ContextInitializer"
        android:value="androidx.startup" />
    </provider>
  <activity
    android:name="com.addhen.kanalytics.viewer.android.MainActivity"
    android:label="KAnalytics Interceptor"
    android:launchMode="singleTask"
    android:taskAffinity="com.addhen.kanalytics.viewer.android.task"
    android:theme="@style/Theme.ViewerApp" />
  </application>
</manifest>
